<div class="ui tiny modal transition" id="delete_element_confirm_dialog">
        <div class="header">
            Remove list element
        </div>
        <div class="content">
            <p>Are you sure you want to delete this list element? </p> 
            <p>Doing so will remove all items associated with it.</p>
        </div>
        <div class="actions">
            <div class="ui negative button">
            No
            </div>
            <div class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>