{% extends 'base.html' %} 
{% block title %}Duh Časa{% endblock %} 
{% block content %}
<div class="ui container">

    <div class="ui compact menu">
        <div class="ui simple dropdown item">
        Dodaj Komponento
            <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" id="create_processor_modal_btn">Dodaj procesor</div>
                    <div class="item" id="create_modal">Dodaj grafično</div>
                    <div class="item" id="create_modal">Dodaj procesor</div>
                    <div class="item" id="create_modal">Dodaj procesor</div>
                </div>
        </div>
    </div> 
      
	
	<form action="" method="get">
        {{ filter_form.as_p }}
        <input type="submit" />
    </form>
	
    <table class="ui fixed table">
        <thead>
            <tr>
                <th>#</th>
                <th>Naziv</th>
                <th>Serijska številka</th>
                <th>Opis</th>
                <th>Ključne besede</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
			<!--
			izpis = False
			search_words = GET[search]
			if search_words == "":
				izpis = True
			else:
				for word in search_words.split(" "):
					if word in computer.description:
						izpis = True
						break			
			if izpis:
			-->
			
            <tr>
                <td> {{ forloop.counter }} </td>
                <td>{{ computer.title }}</td>
                <td>{{ computer.serial_number }}</td>
                <td>{{ computer.description }}</td>
                <td>{{ computer.keywords }}</td>
				
                <td>
                    <a class="ui blue button edit_computer" href="/computer/edit/{{computer.id}}">Uredi</a>
                    <button class="ui red button delete_computer" data-id="{{computer.id}}">(Z)Briši</button>
                </td>
            </tr>
			
            {% endfor %}
        </tbody>
    </table>

    {% include "components/add_processor_form.html" %}
</div>

{% endblock %}